*.idea
*.properties
*.iml
/*/build
/*/facebook/build
/*/cropper/build
/.idea/workspace.xml
/.idea/libraries
/.idea
/build
.gradle
.DS_Store
.classpath
.project
.metadata/
.settings
*.bat
bin/
gen/
sh.exe.stackdump
